<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/6e64724991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    
</head>
<body class="home">
<header >
        <img src="/img/logo-mercado-liebre.svg" alt=""> 
    <nav class="header__nav" >
        <form class="header__nav__form">
            <input type="text" placeholder="Buscar productos, marcas"> <br>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

            <h4 class="header__h4"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito </h4>
        
    <ul class="header__ul--tienda">
        <li><a href="#ofertas"> Ofertas </a></li>
        <li><a href="/tiendasOficiales"> Tiendas Oficiales </a></li>
        <li><a href="/vender"> Vender </a></li>
        <li><a href="/ayuda"> Ayuda </a><li>
    </ul>
    <ul class="header__ul--cliente">
        <li><a href="/creaTuCuenta">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
        <li><a href="/ingresa">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li><a href="/misCompras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
    </ul>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</nav>
    </header>
    
<main>
<section class="secction__ultima--vista">
    <img class="secction__img__banner" src="/img/img-home-banner.jpg" alt="">
    <h4 class="section__h4--titulares">Basado en tu ultima visita</h4>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-cafetera-moulinex.jpg" alt=""></li>
            <li class="article__ul__li__precio">$16.770</li>
            <li class="article__ul__li__descuento">40% OFF</li>
            <li><h4>Cafetera Moulinex</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-macbook-pro-2019.jpg" alt=""></li>
            <li class="article__ul__li__precio">$230.000</li>
            <li class="article__ul__li__descuento">20% off</li>
            <li><h4>MacBook Pro 2019</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-samsung-galaxy-s10.jpg" alt=""></li>
            <li class="article__ul__li__precio">$70.500</li>
            <li class="article__ul__li__descuento">10% off</li>
            <li><h4>Samsung Galaxy S10</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-tv-samsung-smart.jpg" alt=""></li>
            <li class="article__ul__li__precio">$230.200</li>
            <li class="article__ul__li__descuento">5% off</li>
            <li><h4>SmartTv Samsung 43"</h4></li>
        </ul>
    </article>    
</section>
<section class="ofertas">
    <h4 class="section__h4--titulares" id="ofertas">Ofertas</h4>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-cafetera-moulinex.jpg" alt=""></li>
            <li class="article__ul__li__precio">$16.770</li>
            <li class="article__ul__li__descuento">40% OFF</li>
            <li><h4>Cafetera Moulinex</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-macbook-pro-2019.jpg" alt=""></li>
            <li class="article__ul__li__precio">$230.000</li>
            <li class="article__ul__li__descuento">20% off</li>
            <li><h4>MacBook Pro 2019</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-samsung-galaxy-s10.jpg" alt=""></li>
            <li class="article__ul__li__precio">$70.500</li>
            <li class="article__ul__li__descuento">10% off</li>
            <li><h4>Samsung Galaxy S10</h4></li>
        </ul>
    </article>
    <article>
        <ul>
            <li><img class="article__img" src="/img/img-tv-samsung-smart.jpg" alt=""></li>
            <li class="article__ul__li__precio">$230.200</li>
            <li class="article__ul__li__descuento">5% off</li>
            <li><h4>SmartTv Samsung 43"</h4></li>
        </ul>
    </article>    
</section>
</main>
    <footer>
        <section>
            <ul>
                <i class="fa-solid fa-credit-card"></i>
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                <li>Con Mercado Liebre Cash, tenés cuotas sin <br>
                     interés con tarjeta o efectivo en puntos de <br>
                      pago. ¡Y siempre es seguro!</li>                
             </ul>
        </section>
        <section>
            <ul>
                <i class="fa-solid fa-gift"></i>
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                <li>Solo por estar registrad@ en Mercado Liebre <br>
                   tenés envíos gratis en miles de productos. Es <br>
                      un beneficio de Mercado Puntos.</li>                
             </ul>
        </section>
        <section>
            <ul>
                <i class="fa-solid fa-user-shield"></i>
                <li><h4>Seguridad, de principio a fin</h4></li>
                <li>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                     no hay nada que no puedas hacer porque <br>
                      estás siempre protegid@.</li>                
             </ul>
        </section>
        <div>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
    </footer>
</body>
</html>