<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/6e64724991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>

<body class="home">
    <header>
<div class="img__input__h4">
        <section class="header__section">
            <img class="header__section__img" src="/img/logo-mercado-liebre.svg" alt="">
            <form action="/search" method="get">
                <div class="header__section__div-input">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button class="header__section__div-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </section>
        <h4 class="header__h4"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta decrédito
</h4>
</div>
        <nav>
            <section class="header__nav__section__listas">
                <ul class="header__nav__section__lista--tienda">
                    <li><a href="/ofertas"> Ofertas </a></li>
                    <li><a href="/tiendasOficiales"> Tiendas Oficiales </a></li>
                    <li><a href="/vender"> Vender </a></li>
                    <li><a href="/ayuda"> Ayuda </a>
                    <li>
                </ul>
                <ul class="header__nav__section__lista--cliente">
                    <li><a href="/creaTuCuenta">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/ingresa">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="/misCompras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </section>
            <section class="header__section__menu-desplegable">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
    </header>
    <img class="img__banner" src="/img/img-home-banner.jpg" alt="">


    

    <main>
        <div class="section__h4--titulares">
            <h4>Basado en tu última visita</h4>
        </div>
        <section class="secction__ultima--vista">

            <article class="articulo">
                <img class="imagen__del__articulos" src="/img/img-cafetera-moulinex.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$16.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="nombre__del__articulo">Cafetera Moulinex</h4>
                </figure>
            </article>

            <article class="articulo">

                <img class="imagen__del__articulos" src="/img/img-macbook-pro-2019.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">MacBook Pro 2019</h4>
                </figure>
            </article>
            <article class="articulo">

                <img class="imagen__del__articulos" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">Samsung Galaxy S10</h4>
                </figure>
            </article>
            <article class="articulo">

                <img class="imagen__del__articulos" src="/img/img-tv-samsung-smart.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$230.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">SmartTv Samsung 43"</h4>
                </figure>
            </article>
        </section>
        <div class="section__h4--titulares">
            <h4 id="ofertas">Ofertas</h4>
        </div>
        <section class="ofertas">

            <article class="articulo">
                <img class="imagen__del__articulos" src="/img/img-cafetera-moulinex.jpg" alt="">
                <figure class="descripcion__del__articulo">

                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$16.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="nombre__del__articulo">Cafetera Moulinex</h4>
                </figure>
            </article>

            <article class="articulo">
                <img class="imagen__del__articulos" src="/img/img-macbook-pro-2019.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">MacBook Pro 2019</h4>
                </figure>
            </article>
            <article class="articulo">
                <img class="imagen__del__articulos" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">Samsung Galaxy S10</h4>
                </figure>
            </article>

            <article class="articulo">
                <img class="imagen__del__articulos" src="/img/img-tv-samsung-smart.jpg" alt="">
                <figure class="descripcion__del__articulo">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="articulo__precio-y-descuento">
                        <p class="precio__del__articulo">$230.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="nombre__del__articulo">SmartTv Samsung 43"</h4>
                </figure>
            </article>

        </section>
    </main>
    <footer>
        <section>
            <ul>
                <li><i class="fa-solid fa-credit-card"></i></li>
                <li>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                </li>
                <li>Con Mercado Liebre Cash, tenés cuotas sin <br>
                    interés con tarjeta o efectivo en puntos de <br>
                    pago. ¡Y siempre es seguro!</li>
            </ul>
        </section>
        <section>
            <ul>
                <li><i class="fa-solid fa-gift"></i></li>
                <li>
                    <h4>Envío gratis desde $ 2.500</h4>
                </li>
                <li>Solo por estar registrad@ en Mercado Liebre <br>
                    tenés envíos gratis en miles de productos. Es <br>
                    un beneficio de Mercado Puntos.</li>
            </ul>
        </section>
        <section>
            <ul>
                <li><i class="fa-solid fa-user-shield"></i></li>
                <li>
                    <h4>Seguridad, de principio a fin</h4>
                </li>
                <li>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                    no hay nada que no puedas hacer porque <br>
                    estás siempre protegid@.</li>
            </ul>
        </section>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>