:root{
    --tipografiaGeneral: "Roboto", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--tipografiaGeneral);
    display: flex;
    flex-wrap: wrap;
    background-color:#ebebeb;
    justify-content: center;
} 
    

/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */