.img__banner {
    width: 100%;
    height: auto;

}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    line-height: 2px;
    list-style-type: none;

}




/* articulo */
.articulo {
    margin: 10px 0px;
}

.section__h4--titulares h4 {
    /* align-self: flex-start; */
    font-size: 24px;
    color: #666;
    margin: 18px 0px;
}

.imagen__del__articulos {
    width: 100%;


}


/* logo del envio */
.logo-envio {
    height: 5px;
}

section article figure div i {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #39b54a;
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #39b54a;
    width: 20px;
    height: 20px;
    position: relative;
    right: -265px;
    top: -22px;

}


/* descripcion de del producto. los cambios se aplican en todos los productos */
figure {
    margin: 0%;
}

.descripcion__del__articulo {
    background-color: white;
    border-top: 2px solid #ebebeb;
    padding: 5px 10px;


}





.descuento {

    font-size: 16px;
    color: #39b54a;
}

.nombre__del__articulo {
    color: #666;
    font-weight: normal;
}

/* ............................................................................ */

/* footer */
footer {
    width: 100%;
    background-color: white;
    padding: 10px;

}

footer ul {
    text-align: center;

}

footer i {
    font-size: 2em;
    color: #1259c3;

}

footer p {
    margin: 0%;
    margin-top: 20px;
}


/*============================================================= */
/* tablet */
/*============================================================= */



@media (min-width:361px) {




    .section__h4--titulares {
        display: flex;
        width: 97%;

    }

    .section__h4--titulares h4 {
        justify-content: start;
    }

    .secction__ultima--vista,
    .ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .articulo {
        width: 47%;
        
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion__del__articulo {
        padding: 20px 20px;
        padding-top: 5px;

    }
    .logo-envio{
        position: relative;
        left: -10px;
    }
    .articulo__precio-y-descuento{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       justify-content: flex-start;
       align-items: center;
       
    }


    .precio__del__articulo {
        margin: 30px 0px;
        width: 35%;
        
    }

    .descuento {
        width: 35%;
        margin:10px 0px;
        
    }

    .nombre__del__articulo {
        margin-top: 10px;
        margin: 0%;
        margin-left: 0%;

    }

    /* --------------------footer---------------------- */


    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer section {
        width: 30%;
    }

    footer ul {
        width: 100%;
        align-items: center;}

    p {
        width: 100%;
        margin: 15px;

    }

}

@media (min-width:769px) {

    .section__h4--titulares{
        display: flex;
        width: 100%;
    }

    .secction__ultima--vista,
    .ofertas {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
       gap: 10px;
    }


    .articulo {
        width: 200px;
        margin: 10px 0px;
        
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .articulo__precio-y-descuento{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        justify-content: center;
        align-items: center;
        
       
    }
    .descripcion__del__articulo {
        padding: 0px 10px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        height: 50px;
        padding: 10px 0px;
        
    }

   
    .logo-envio i{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        height:15px;
        width: 15px;
        padding: 1px;
        position: initial;
        position: relative;
        left:140px;
        top: -15px;
       
    }
    .precio__del__articulo{
        
        width: auto;
        height: auto;
        margin: 0%;
    }
    .descuento{
        margin-left: 0px;
      position: static;
        margin: 0px;
        height: auto;
        width: auto;
    }
    .nombre__del__articulo {
    
       width: 100%;
      text-align: center;
       font-size: 14px;
       margin-top: 20px;
     
    } 


    /* --------------------footer---------------------- */
    footer {
        display: flex;
        /* gap: 30px; */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer section {
        width: 30%;
    }

    footer ul {
        width: 100%;
        align-items: center;
    }

    p {
        width: 100%;
        margin: 15px;

    }
}